.App {
  select{
    height: 100%;
  }
  .sender{
    width: 100%;
  }
  .btn{
    height: 100%;
  }
  .mainCont{
    border-style: solid;
    width:50vw;
    text-align: center;
    height:fit-content;
  }

  .messageCont{
    height: 50vh;
    overflow: scroll;
    width: 100%;
  }

  .send,.receive{
    p{
      word-wrap: break-word;
      margin-bottom: 12px;
      line-height: 24px;
      margin:5%
    }
    .time{
      text-align: right;
    }
  }

  .send{
    color: white; 
    background: #0B93F6;
    background-color: #0B93F6;
    text-align: left;
    margin-right:50%
  }

  .recipient{
    width:100%
  }

  .receive{
    background: #E5E5EA;
    color: black;
    text-align: left; 
    margin-left:50%
  }
}